@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --white: hsl(0, 0%, 100%);
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 33px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--very-dark-blue-main-bg);
  display: flex;
  justify-content: center;
  margin-top: 82px;
  font-size: 18px;
  font-family: "Outfit";
  color: var(--white);
}

.container {
  width: 295px;
  height: 520px;
  display: flex;
  background-color: var(--very-dark-blue-card-bg);
  flex-direction: column;
  align-items: stretch;
  padding: 22px;
  box-shadow: 0px 23px 0px 13px hsl(217, 57%, 10%),
    0px 25px 0px 40px hsl(218, 54%, 11%);
  border-radius: 0.8rem;
}

img {
  width: 100%;
  border-radius: 0.5em;
}

.text1 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}

.text2 {
  font-weight: 300;
  color: var(--soft-blue);
}

.text3 {
  color: var(--cyan);
  font-size: 13px;
  font-weight: 600;
  padding-left: 6px;
  margin-top: 2px;
}

.text4 {
  color: var(--soft-blue);
  font-size: 14px;
  font-weight: 400;
  padding-left: 6px;
}

.container2 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.img2 {
  background-image: url(./images/icon-ethereum.svg);
  background-repeat: no-repeat;
  width: 11px;
  height: 18px;
}

.img3 {
  background-image: url(./images/icon-clock.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 122px;
  margin-top: 1px;
}

.container3 {
  border-top: solid var(--soft-blue) 0.01em;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#autor {
  width: 28px;
  height: 28px;
  border: white solid 1px;
  border-radius: 2em;
  margin-top: 12px;
}

.text5 {
  margin-top: 6px;
  margin-left: 15px;
  font-size: 13px;
  color: var(--soft-blue);
}

.text6 {
  color: var(--white);
  font-weight: 600;
}

span:hover {
  color: var(--cyan);
  cursor: pointer;
}

div.text1:hover {
  color: var(--cyan);
  cursor: pointer;
}

.container .nft_eye {
  position: relative;
}

.container .nft_eye div {
  position: absolute;
  cursor: pointer;
  background-color: hsl(178, 100%, 50%, 55%);
  width: 100%;
  height: calc(100% - 4px);
  top: 0;
  z-index: 9;
  opacity: 0;
  transition: 0.4s ease-in-out;
  border-radius: 0.8rem;
}

.container .nft_eye div:hover {
  opacity: 1;
}

.container .nft_eye div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
}
